@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Shadows+Into+Light+Two&family=Space+Mono&display=swap');
body { 
    background-color: #93BFCF;
    font-family: 'Shadows Into Light Two', cursive;
}

input {
    background-color: #ECECEC;
    border: 1px solid black;
    border-radius: 0.5rem;
}

p {
    font-size: 1.5rem;
}

.title-header-section {
    display: flex;
    justify-content: center;
    background-color: #EEE9DA;
    border-radius: 1rem;
}

.section {
    max-width: 1920px;
    margin: auto;
}

.title-text {
    font-size: 3rem;
}

/* hero main section */ 

.wrapper-hero-section {
    padding: 0 1rem 0 1rem;
}


.hero-main-section {
    background-color: #EEE9DA;
    margin-top: 0.5rem;
    border-radius: 1rem;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-no-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.entry-input {
    width: 3rem;
    height: 4rem;
    padding-left: 1rem;
}

.date-input {
    height: 4rem;
    width: 11.5rem;
    padding-left: 1rem;
}

.input-space {
    margin-top: 10px; /* Adjust the value as needed */
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title-input {
    height: 4rem;
    width: 90rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #292930;

}

.content-input {
    height: 28rem;
    width: 114.5rem;
    font-family: 'Roboto';
    color: #292930;
}

.btn-section {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    padding-bottom: 1rem;
    gap: 0.5rem;
    
}

button { 
    font-family: 'Secular One', sans-serif;
    background-color: #6096B4;
    height: 4rem;
    width: 15rem;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

input {
    font-size: 2rem;
    font-family: 'Roboto';
    display: flex;
    padding-left: 1rem;
    color: #292930;

}

textarea {
    font-size: 2rem;
    font-family: 'Secular One', sans-serif;
    border: 1px solid #292930;
    background-color: #ECECEC;
    border-radius: .5rem;
    padding-left: 1rem;
    resize: none;
}

.alert{
    width: 20rem;
    background: rgb(0, 255, 106);
    padding: 1rem 1rem;
    border-radius: 2rem;
    font-family: 'Secular One', sans-serif;
    font-size: 1rem;
    text-align: center;
     margin: 0 auto;
    margin-bottom: 0.5rem;
    justify-content: left;
    display: none;
}