@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Shadows+Into+Light+Two&family=Space+Mono&display=swap");
body {
  background-color: #93bfcf;
  font-family: "Shadows Into Light Two", cursive;
  align-items: center;
}

input {
  background-color: #ececec;
  border: 2px solid black;
  border-radius: 0.5rem;
}

p {
  font-size: 1rem;
  padding: 0.5rem;
}

.title-header-section {
  display: flex;
  justify-content: center;
  background-color: #eee9da;
  border-radius: 1rem;
  width: 680px;
  align-items: center;
}

.section {
  width: 700px;
  margin: auto;
  padding: 1rem;
  /* border: 1px solid red; */
  background-color: orange;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  font-size: 2rem;
}

/* hero main section */

.wrapper-hero-section {
  padding: 0 1rem 0 1rem;
}

.hero-main-section {
  background-color: #eee9da;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.first-section {
  display: flex;
  justify-content: center;
}

.entry-no-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.entry-input {
  width: 40px;
  height: 10px;
  font-size: 1rem;
  padding: 1rem;
}

.date-input {
  width: 120px;
  height: 10px;
  font-size: 1rem;
  padding: 1rem;
}

.input-space {
  margin-top: 10px; /* Adjust the value as needed */
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.title-input {
  width: 500px;
  height: 10px;
  font-size: 1rem;
  padding: 1rem;

  color: #292930;
}

.content-input {
  width: 500px;
  height: 200px;
  font-family: "Roboto";
  color: #292930;
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.content-section {
  display: flex;
  justify-content: center;
}
.btn-section {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
}

button {
  font-family: "Secular One", sans-serif;
  background-color: #6096b4;
  height: 50px;
  width: 170px;
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem;
}

input {
  font-size: 2rem;
  font-family: "Roboto";
  display: flex;
  padding-left: 1rem;
  color: #292930;
}

textarea {
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  border: 2px solid black;
  background-color: #ececec;
  border-radius: 0.5rem;
  padding: 1rem;
  resize: none;
}

.alert {
  width: 20rem;
  background: rgb(0, 255, 106);
  padding: 1rem 1rem;
  border-radius: 2rem;
  font-family: "Secular One", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  justify-content: left;
  display: none;
}
